# =============== #
# Unity generated #
# =============== #
Library/
Temp/
obj/
UnityTestTools/

# ================================= #
# Development Environment generated #
# ================================= #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vs/

us.stackdump